# This is a ConfigStore file, please see ConfigStore.cxx for info.

string TupleMaker.MuonsIn         = Muons
string TupleMaker.ElectronsIn     = ElectronCollection
string TupleMaker.JetsIn          = AntiKt4EMTopoJets
string TupleMaker.Label           = mytest
